<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle</title>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
  </head>
  <body>
    <table>
      {% for row in board %}
      <tr></tr>
      {% for cell in row %}
      <td>{{cell}}</td>
      {% endfor %} {% endfor %}
    </table>
    <br />

    <form>
      <input type="text" size="10" id="word" placeholder="Guess a word" />
      <button type="submit" id="submit">Submit</button>
    </form>
    <p></p>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
