{% extends 'base.html' %} {% block title %} Boggle Exercise {% endblock %} {%
block content %}
<h1> Let's Play Boggle!!</h1>
<div class="highscore-container">
  <p>High Score: <b>{{ highscore }}</b></p>
  <p>Times Played: <b>{{ number_of_plays }}</b></p>
</div>

<div id="table-container">
  <table>
    {% for row in board %}
    <tr>
      {% for letter in row %}
      <td>{{letter}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<!-- form allows user to submit a guess -->
<form id='form' method = "POST"</form>
  <!-- autofocus puts the cursor in the input box automatically -->
  <input type="text" size="10" id="word" placeholder="Guess a word" autofocus />
  <button type="submit" id="submit">Submit</button>
</form>

<div>
  <p id = "p-container">
    Score: <b id="score">0</b>
    Seconds Left: <b id="timer"></b>
  </p>
   <!-- JS will put messages here dynamically after word is entered -->
  <p id="result"></p>
</div>

<p id="word-list">Word List</p>

</p>
<ul id="words">
  <!-- JS will put valid guessed words here as they are entered -->
</ul>

{% endblock %}
